h1
{
    text-align: center;
}

h1 + p,h1+p+p
{
    text-align: center;
}

h2 > img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 40px;
    max-height: 40px;
  }

  
h4 > img {
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 20px;
    max-height: 20px;
  }
